<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <script>
        function confirmDelete(taskId) {
            if (confirm("Are you sure you want to delete this task?")) {
                window.location.href = "/delete/" + taskId;
            }
        }

        function confirmDeleteAll() {
            return confirm("Are you sure you want to delete all tasks?");
        }
    </script>
</head>
<body>
    <h1>Task List</h1>
    <!-- Flash messages section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         <ul class="flashes">
             {% for category, message in messages %}
                 <li class="{{ category }}">{{ message }}</li>
             {% endfor %}
         </ul>
      {% endif %}
    {% endwith %}
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="New Task" required>
        <button type="submit">Add Task</button>
    </form>
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.title }}
            [Completed: {{ 'Yes' if task.completed else 'No' }}]
            <a href="javascript:void(0);" onclick="confirmDelete('{{ task.id }}')">Delete</a>
            <a href="/complete/{{ task.id }}">✔️</a>
            <a href="/edit/{{ task.id }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <form action="/deleteall" method="get" onsubmit="return confirmDeleteAll();">
        <button type="submit">Delete All Tasks</button>
    </form>
        <form action="/uncompleted" method="get">
            <button type="submit">Show Uncompleted Tasks</button>
        </form>
    <a href="/logout">Logout</a>
</body>
</html>